@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --primary-dark:#10517c;
  --primary-light: hsl(221, 50%, 58%);
  font-family: 'Plus Jakarta Sans';
}
.icon {
  color: var(--primary-dark)
}

@layer base{
  body {
  }
  li {
    @apply p-4 text-xl
  }
  h1 {
    @apply text-2xl md:text-3xl font-bold
  }
  h2 {
    @apply text-2xl font-bold
  }
  h3 {
    @apply text-xl font-bold
  }
button {
  @apply p-3 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white rounded-md
}

.icon {
  @apply text-2xl cursor-pointer
}

}